## Topic :List
Exercise
Q1. Create a list of 5 random numbers and print the list.
Q2. Insert 3 new values to the list and print the updated list.
Q3. Try to use a for loop to print each element in the list.

In [2]:
import random
List=[random.randint(1,10)for i in range(3)]
print(List,type(List))

[9, 9, 8] <class 'list'>

In [3]:
N_List=[random.randint(1,10)for i in range(3)]
List.extend(N_List)
print('Updated list ',List)

Updated list  [9, 9, 8, 1, 3, 7]

In [4]:
for element in List:
    print(element,end="")

998137

## Topic: Dictionary
Exercise 
Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [5]:
personal_Details={'name':'John','age':25,'address':'New York'}
print(personal_Details)

{'name': 'John', 'age': 25, 'address': 'New York'}

In [6]:
personal_Details['phone']='1234567890'
print(personal_Details)

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Topic: Set
Exercise  
Q1.Create a set with values 1, 2, 3, 4, and 5.
Q2. Add the value 6 to the set created in Q1.
Q3. Remove the value 3 from the set created in Q1.

In [7]:
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [8]:
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [9]:
s.remove(3)
print(s)

{1, 2, 4, 5, 6}


## Topic:Tuple
Exercise 
Q1. Create a tuple with values 1, 2, 3, and 4
Q2. Print the length of the tuple created in Q1.

In [10]:
t=1,2,3,4
print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

In [11]:
print(len(t))

4